<h2>Sign in to Deckar</h2>
<form action = "/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="rick_deckard">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="3l3ctricsh33p">
    <input type="submit" value="Log in">
</form>