<form action="/decks/<%=@deck.slug%>/cards/<%=@card.id%>" method = "POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
New front:
<input type="text" name="front" value=<%=@card.front%>>
New back:
<input type="text" name="back" value=<%=@card.back%>>
<button type="submit" name="submit" id="submit">Update card</button>