<form action = "/decks/:slug" method="POST">
<%# there has to be some way to write this without repeating myself %>
<label for="front">Front:</label>
<input type="text" name="front" placeholde="Question">
<label for="back">Back:</label>
<input type="text" name="back" placeholde="Answer">
<br>
<label for="front">Front:</label>
<input type="text" name="front" placeholde="Question">
<label for="back">Back:</label>
<input type="text" name="back" placeholde="Answer">
<br>
<label for="front">Front:</label>
<input type="text" name="front" placeholde="Question">
<label for="back">Back:</label>
<input type="text" name="back" placeholde="Answer">
<br>
<label for="front">Front:</label>
<input type="text" name="front" placeholde="Question">
<label for="back">Back:</label>
<input type="text" name="back" placeholde="Answer">
<br>
<label for="front">Front:</label>
<input type="text" name="front" placeholde="Question">
<label for="back">Back:</label>
<input type="text" name="back" placeholde="Answer">
<br>
<button name="submit" type="submit" value="Add Cards">Add Cards</button>
</form>