<form action = "/decks/<%=@deck.slug%>/cards" method="POST">
<%@number_of_cards.times do |i|%>
Card <%=i+1%>
<label for="front">Front:</label>
<input type="text" name="front" placeholder="Front">
<label for="back">Back:</label>
<input type="text" name="back" placeholder="Back">
<br>
<%end%>
<button name="submit" type="submit" value="Add Cards">Add Cards</button>
</form>