<h3><%=@deck.name%><h3>
<h4>Front</h4>
<%=@card.front%>
<form action = '/flip' method="GET">
<button name="flip" type="submit">Flip</button>
</form>
<form action = '/next' method="GET">
<button name="next" type="submit">Next</button>
</form>