<form action='/cards' method='post'>
New deck name:
<input type="text" name="name"><br>
Number of cards:
<input type="number" name="number">
<button type="submit" name="submit" id="submit">Start adding cards</button>