<!doctype html>
<html>
  <head>
    <title>Deckar</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Deckar</h1>
      <a href="/new">Create New Deck</a><br>
      <a href="/users/:slug">My Decks</a><br>
      <a href="/logout">Logout</a><br>
      <%=yield%>

    </div>
  </body>
</html>
