<!doctype html>
<html>
  <head>
    <title>Deckar</title>
  </head>
  <body>

    <div class="container">
      <h1>Deckar</h1>
      <h5>Reaction time is a factor in this, so answer as quickly as you can</h5>
      <a href="/decks">All decks</a><br>
      <a href="/users">User Settings</a><br>
      <a href="/logout">Logout</a><br><br><br><br>
      <%=yield%>

    </div>
  </body>
</html>
